---
import Roblox from 'public/icons/roblox.svg'
import TikTok from 'public/icons/tiktok.svg'
import Instagram from 'public/icons/instagram.svg'
import Youtube from 'public/icons/youtube.svg'
---

<footer class="bg-gray-900 pt-12 pb-6 text-white">
	<div class="container mx-auto px-4">
		<div class="flex flex-col items-center justify-center gap-5 md:flex-row">
			<!-- Redes sociales -->
			<div
				class="flex flex-grow basis-0 items-center justify-end gap-5 space-x-6"
			>
				<a
					class="m-0 transition hover:scale-110"
					href="https://www.roblox.com/es/users/5723906597/profile"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Visitar perfil de Roblox de Copaditaar"
				>
					<span class="sr-only">Roblox de Copaditaar</span>
					<Roblox
						name="Roblox"
						class="hover:stroke-theme-pink size-8 stroke-white md:size-9"
						aria-hidden="true"
					/>
				</a>
				<a
					class="m-0 transition hover:scale-110"
					href="https://www.tiktok.com/@copaditaar"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Visitar perfil de Roblox de Copaditaar"
				>
					<span class="sr-only">TikTok de Copaditaar</span>
					<TikTok
						name="tiktok"
						class="hover:stroke-theme-pink size-8 stroke-white stroke-[1.3] md:size-8"
						aria-hidden="true"
					/>
				</a>
				<a
					class="m-0 transition hover:scale-110"
					href="https://www.instagram.com/copaditaar/"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Visitar perfil de Instagram de Copaditaar"
				>
					<span class="sr-only">Instagram de Copaditaar</span>
					<Instagram
						name="instagram"
						class="hover:stroke-theme-pink size-8 stroke-white md:size-9"
						aria-hidden="true"
					/>
				</a>
				<a
					class="m-0 transition hover:scale-110"
					href="https://www.youtube.com/@copaditaar"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Visitar perfil de Youtube de Copaditaar"
				>
					<span class="sr-only">Youtube de Copaditaar</span>
					<Youtube
						name="Youtube"
						class="hover:stroke-theme-pink size-9 stroke-white md:size-10"
						aria-hidden="true"
					/>
				</a>
			</div>
			<!-- Avatar de Roblox -->
			<div class="flex items-center justify-center">
				<img
					src="https://pub-9513482a8d2244f8a941d4a5c7471c50.r2.dev/copaditaar-roblox.avif"
					alt="Avatar Roblox de Copaditaar"
					class="h-full w-56 object-contain"
				/>
			</div>
			<div
				class="justif-start flex flex-grow basis-0 flex-col text-center md:text-start"
			>
				<p class="font-bold">CompaditaAR</p>
				<p class="text-sm text-gray-400">MM2 Shop</p>
			</div>
		</div>
		<div class="mt-8 text-center text-sm text-gray-400">
			<p>
				© {new Date().getFullYear()} CompaditaAR MM2 Shop. Todos los derechos reservados.
			</p>
			<p class="mt-1 hidden">
				No estamos afiliados con Roblox o Murder Mystery 2.
			</p>
		</div>
	</div>
</footer>
