---
// Componente de carga para mostrar mientras se cargan los productos
// src/components/LoadingSpinner.astro
---

<div class="flex h-64 items-center justify-center">
	<div class="h-16 w-16 animate-spin rounded-full border-t-4 border-amber-400">
	</div>
</div>
