<header class="fixed z-10 w-full bg-gray-900 text-white shadow-md">
	<div class="container mx-auto flex items-center justify-between px-4 py-3">
		<div class="flex flex-grow basis-0">
			<h1 class="m-0 flex items-center">
				<a
					href="#"
					class="flex items-center gap-5 text-xl font-bold tracking-tight transition-colors hover:text-amber-400"
				>
					<img
						src="https://pub-9513482a8d2244f8a941d4a5c7471c50.r2.dev/copaditaar-logo.avif"
						alt="logo de Copaditaar"
						class="h-6 w-6 scale-150 rounded-full"
					/>
					<span class="hidden md:flex"> CopaditaAR </span>
				</a>
			</h1>
		</div>
		<nav>
			<ul class="flex space-x-6">
				<li>
					<a href="#guns" class="transition-colors hover:text-amber-400">Guns</a
					>
				</li>
				<li>
					<a href="#knifes" class="transition-colors hover:text-amber-400"
						>Knives</a
					>
				</li>
				<li>
					<a href="#sets" class="transition-colors hover:text-amber-400">Sets</a
					>
				</li>
				<li>
					<a href="#combos" class="transition-colors hover:text-amber-400"
						>Combos</a
					>
				</li>
			</ul>
		</nav>
	</div>
</header>
